<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 6.2.1 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.MSTeams.Chat" name="MSTeams">
    <information>
      <category value="" />
      <displayname value="MS Teams" />
      <description value="This Dynatrace plugin can send incident messages to a webhook defined in Microsoft Teams" />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
      <property key="url" label="URL" type="url" description="URL of the Microsoft Teams channel where the incident message should be sent to. In order to get this URL, one needs to configure a WebHook for that channel to be able to receive external messages. This integration can easily be enabled in the Microsoft Teams UI." default="http://&lt;your webhook here&gt;" />
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.action" id="com.MSTeams.Chat.action" name="MSTeams">
    <plugin configid="com.MSTeams.Chat" class="com.Dynatrace.MSTeams" />
  </extension>
</plugin>
